Repository tomusborne/generateblocks, pull requests merged in 2022-05, with the labels that each got.

#374 Resize images using CSS only
  dist/blocks.asset.php
  dist/blocks.js
  includes/class-dynamic-content.php
  includes/generate-css.php
  src/blocks/image/components/Image.js
  src/blocks/image/components/ImageContentRenderer.js
  src/blocks/image/components/inspector-controls/ImageSettingsControl.js
  src/blocks/image/css/main.js
  src/blocks/image/css/mobile.js
  src/blocks/image/css/tablet.js
  src/blocks/image/edit.js
  src/blocks/image/save.js
Labels: block: image

#377 Fix content not set when transforming to GB Headline
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/headline/components/HeadlineContentRenderer.js
Labels: type: bug, priority: high, block: headline

#379 Fix image upload
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/image/edit.js
Labels: type: bug, priority: high, block: image

#381 Fix headline margin in editor
  dist/blocks.asset.php
  dist/blocks.css
  src/blocks/headline/editor.scss
Labels: type: bug, priority: critical

#382 Show image as loading when uploading
  dist/blocks.asset.php
  dist/blocks.css
  dist/blocks.js
  package-lock.json
  package.json
  src/blocks/image/components/Image.js
  src/blocks/image/components/ImageContentRenderer.js
  src/blocks/image/components/ImagePlaceholder.js
  src/blocks/image/edit.js
  src/blocks/image/editor.scss
Labels: type: bug, priority: high, block: image

#393 Fix Taxonomy selector receiving wrong prop 'postType'
  dist/blocks.asset.php
  dist/blocks.js
  src/extend/dynamic-content/InspectorControls.js
Labels: type: bug, block: dynamic-content

#397 Fix background images in Query Loop
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/container/block.js
  src/blocks/container/components/InspectorControls.js
  src/extend/dynamic-content/InspectorControls.js
Labels: type: bug, priority: critical

#404 Fix button URL input
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/button/edit.js
Labels: type: bug, priority: critical

#403 Fix excerpt not showing with multi query loops in the same page
  includes/class-dynamic-content.php
Labels: type: bug, block: dynamic-content

#401 Add a start blank query loop template
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/query-loop/components/LoopRenderer.js
  src/blocks/query-loop/templates.js
Labels: type: feature, block: query-loop

#410 Add featured image template
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/query-loop/templates.js
Labels: type: feature, block: query-loop

#419 Clean up dynamic image html attributes
  includes/class-dynamic-content.php
Labels: type: bug, priority: critical, block: image

#418 Fix image floats in the editor
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/image/components/ImageContentRenderer.js
  src/blocks/image/css/main.js
  src/blocks/image/css/mobile.js
  src/blocks/image/css/tablet.js
Labels: type: bug, priority: high, block: image

#420 Query loop empty container has unexpected behaviors
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/container/components/ContainerContentRenderer.js
  src/blocks/grid/components/LayoutSelector.js
  src/blocks/grid/edit.js
  src/blocks/query-loop/components/LayoutSelector.js
  src/blocks/query-loop/components/LoopRenderer.js
Labels: type: bug, priority: critical, block: query-loop

#422 Fix duplicate block preview css
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/button-container/components/ComponentCSS.js
  src/blocks/button/components/ComponentCSS.js
  src/blocks/button/edit.js
  src/blocks/container/components/ComponentCSS.js
  src/blocks/container/edit.js
  src/blocks/grid/components/ComponentCSS.js
  src/blocks/headline/components/ComponentCSS.js
  src/blocks/headline/edit.js
  src/blocks/image/components/ComponentCSS.js
  src/components/google-font-link/index.js
Labels: type: feature, block: query-loop

#430 Improve query loop check for the query params to avoid unecessary renders
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/query-loop/components/LoopRenderer.js
  src/blocks/query-loop/components/QueryLoopRenderer.js
  src/blocks/query-loop/edit.js
Labels: priority: critical, block: query-loop, type: refactoring

#432 Add multi select component
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/query-loop/components/inspector-controls/parameter-list/ControlBuilder.js
  src/blocks/query-loop/components/inspector-controls/parameter-list/ParameterControl.js
  src/blocks/query-loop/query-parameters.js
  src/components/simple-multi-select/index.js
Labels: type: feature, block: query-loop

#433 Allow meta values be created if not enabled on the API
  dist/blocks.asset.php
  dist/blocks.js
  package-lock.json
  package.json
  src/components/advanced-select/index.js
  src/extend/dynamic-content/inspector-controls/AuthorMetaControl.js
  src/extend/dynamic-content/inspector-controls/PostMetaControl.js
  src/extend/dynamic-content/utils/getContent.js
Labels: type: feature, block: dynamic-content

#431 Improve Query Block selection
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/grid/components/InspectorControls.js
  src/blocks/query-loop/components/BlockControls.js
  src/blocks/query-loop/components/InspectorControls.js
Labels: block: query-loop

#434 Fix Container vertical alignment in Query Loop
  dist/blocks.asset.php
  dist/blocks.css
  dist/blocks.js
  src/blocks/container/css/main.js
  src/blocks/query-loop/editor.scss
Labels: type: bug, priority: high, block: query-loop, block: container

#435 Enable menu_order for query loop
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/query-loop/query-parameters.js
Labels: type: feature, block: query-loop

#439 Prevent an error if title is not supported
  dist/blocks.asset.php
  dist/blocks.js
  src/extend/dynamic-content/utils/getContent.js
Labels: priority: medium, block: dynamic-content

#441 Remove legacy full width content support
  dist/blocks.asset.php
  dist/blocks.js
  includes/general.php
  src/blocks/container/attributes.js
Labels: type: bug, priority: medium

#437 Fix loss of device image sizes
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/image/edit.js
  src/components/unit-control/index.js
Labels: type: bug, priority: critical, block: image

#443 Improve BlockPreview performance
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/button/components/ButtonContentRenderer.js
  src/blocks/headline/components/HeadlineContentRenderer.js
  src/blocks/query-loop/components/LoopRenderer.js
Labels: type: feature, block: query-loop

#456 Fix color picker autocomplete
  dist/blocks.asset.php
  dist/blocks.js
  src/components/color-picker/index.js
Labels: type: bug, priority: critical

#458 Use compiled script assets
  includes/general.php
Labels: type: refactoring

#465 Add generateblocks_query_loop_args filter
  includes/class-render-blocks.php
Labels: feature, query-loop

#469 Add more dynamic content filters
  includes/class-dynamic-content.php
Labels: feature, dynamic-content

#472 Encode customizer link
  includes/class-settings.php
Labels: bug

#486 Remove the remove vertical gap option from query loop items
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/container/components/InspectorControls.js
Labels: bug

#485 Keep empty image alt
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/query-loop/components/utils.js
Labels: bug

#493 Remove aria-label from gb-icon element
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/button/components/ButtonContentRenderer.js
  src/blocks/button/save.js
  src/blocks/headline/save.js
  src/components/icon-wrapper/index.js
Labels: bug

#494 Improve button CSS selectors in the editor
  dist/blocks.asset.php
  dist/blocks.css
  dist/blocks.js
  src/blocks/button/css/main.js
  src/blocks/button/css/mobile.js
  src/blocks/button/css/tablet.js
  src/blocks/button/editor.scss
Labels: bug

#497 Fix grid layout selector
  dist/blocks.asset.php
  dist/blocks.css
  package-lock.json
  src/blocks/grid/editor.scss
Labels: bug

#502 Fix uniqueID error when multi blocks selected
  dist/blocks.asset.php
  dist/blocks.js
  src/hoc/test/withUniqueId.js
  src/hoc/withUniqueId.js
Labels: bug

#504 Fix postType notice
  includes/class-dynamic-content.php
Labels: bug, dynamic-content

#508 Fix: Post excerpt not rendered correctly when used inside a GPP block element
  includes/class-dynamic-content.php
Labels: bug

#513 Fix: Contained container not applying auto margins
  dist/blocks.asset.php
  dist/blocks.css
  dist/blocks.js
  src/blocks/container/css/main.js
  src/blocks/container/editor.scss
Labels: bug

#514 Fix: Inherit box-sizing on gb-inside-container
  dist/blocks.asset.php
  dist/blocks.css
  src/blocks/container/editor.scss
Labels: bug

#520 Add padding to color picker popover
  dist/blocks.asset.php
  dist/blocks.css
  src/components/color-picker/editor.scss
Labels: refactoring

#518 Fix: Replacing static image with dynamic link
  dist/blocks.asset.php
  dist/blocks.js
  src/blocks/image/edit.js
Labels: bug, image

#503 Release 1.5.0-beta.2
  dist/blocks.asset.php
  dist/blocks.css
  dist/blocks.js
  includes/class-dynamic-content.php
  includes/class-query-loop.php
  includes/class-render-blocks.php
  includes/class-settings.php
  package-lock.json
  package.json
  plugin.php
  readme.txt
  src/blocks/button-container/components/ComponentCSS.js
  src/blocks/button/components/ButtonContentRenderer.js
  src/blocks/button/components/ComponentCSS.js
  src/blocks/button/css/main.js
  src/blocks/button/css/mobile.js
  src/blocks/button/css/tablet.js
  src/blocks/button/editor.scss
  src/blocks/button/save.js
  src/blocks/container/components/ComponentCSS.js
  src/blocks/container/components/InspectorControls.js
  src/blocks/container/css/main.js
  src/blocks/container/editor.scss
  src/blocks/grid/components/ComponentCSS.js
  src/blocks/headline/components/ComponentCSS.js
  src/blocks/headline/save.js
  src/blocks/image/components/ComponentCSS.js
  src/blocks/image/edit.js
  src/blocks/query-loop/components/inspector-controls/parameter-list/ControlBuilder.js
  src/blocks/query-loop/components/utils.js
  src/components/color-picker/editor.scss
  src/components/icon-wrapper/index.js
  src/extend/dynamic-content/inspector-controls/AuthorMetaControl.js
  src/hoc/test/withUniqueId.js
  src/hoc/withUniqueId.js
  src/hooks/useDeviceType.js
Labels: chore
